.ShowUsername{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.ShowUserText{
    margin: 5px;
    width: 13rem;
}

.ShowCoins{
    margin: 5px;
    width: 8rem;
}

.ShowAlert{
    display: felx;
    margin-top: 10rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2rem;

}